
<section class="deatails">
<div >
    <img src="<%= bookObject.image_url%>" alt="">
    <p class="title"><%=bookObject.title%></p>
    <p class="authors"><i><%=bookObject.author%></i></p>
    <p class="isbn"></p>
    <p class="description"><%=bookObject.description%></p>
    <p class="categories"><%=bookObject.categories%></p>
</div> 

</section>