
<section class="deatails">
<div >
    <img src="<%= bookObject.image_url%>" alt="">
    <p class="title"><%=bookObject.title%></p>
    <p class="authors">Authors :  <%=bookObject.author%></p>
    <p class="description"><%=bookObject.description%></p>
    <p class="isbn"><%=bookObject.isbn%></p>
    <p class="categories">Book Shelf : <%=bookObject.categories%></p>
   <section class="btnDivv">

       <button class='updateBtn'>Update</button>
       <form action="/deleteBook/<%=bookObject.id%>?_method=delete" method="post">
        <button class="deleteBtn">Delete The Book</button>
    
    </form>

   </section>
</div> 


</section>