<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy" content="block-all-mixed-content" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./style/base.css">
    <link rel="stylesheet" href="./style/layout.css">
    <link rel="stylesheet" href="./style/modules.css">

    <title>Book WIKI</title>
</head>
<body>
    <%- include('../../layout/header')  %> 
<h1>SEARCH RESULT</h1>
    <main>

<% booksArr.forEach(obj => { %>
 <div class="bookDIV">
     
     <img src="<%= obj.image_url%>" alt="">
  <p class="title" name='aaaa'><%=obj.title%></p>
  <p class="authors"><%=obj.author%></p>
  <p class="description"><%=obj.description%></p>
  <form action="/add" method="POST">
<input type="hidden" name="title" value="<%=obj.title%>">
<input type="hidden" name="authors" value="<%=obj.author%>">
<input type="hidden" name="description" value = "<%=obj.description%>">
<input type="hidden" name="image_url" value="<%=obj.image_url%>">
<input type="hidden" name="categories" value="<%=obj.categories%>">
<input type="hidden" name="isbn" value="<%=obj.isbn%>">
<input type="submit" value="Add Book " class="addBook">
</form>
 
</div>   
    
<% }); %>


</main>
<footer>aaaaaaaaaaa</footer>
<script src="../js/app.js"></script>


</body>
</html>