<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./style/base.css">
    <link rel="stylesheet" href="./style/layout.css">
    <link rel="stylesheet" href="./style/modules.css">

    <title>Book WIKI</title>
</head>
<body>
    <%- include('../layout/header')  %> 
<h1> (<%= booksArray.length %>) Saved Books </h1>
<main>
    
    <% booksArray.forEach(obj => { %>
    <div class="bookDIV">
        
     <img src="<%= obj.image_url%>" alt="">
     <p class="title"><%=obj.title%></p>
     <p class="authors"><%=obj.author%></p>
     <a class="viewDetail" href="/details/<%= obj.id %> ">View details</a>
     </div>
     <% }) %> 

</main>

<footer>&copy; Mousa</footer>
<script src="./js/app.js"></script>
</body>
</html>